/* Stylesheet for Chapter 2 Ex-1 */


/* Styling the body tag */
body{
    background-color: lightgoldenrodyellow;
    font-family: Georgia, serif;
}

/* Style foe the first heading*/
h1 { font-size: 3 rem; text-align: center; h2 {font-size: 1. 25rem text-align: center; }}

/* style for paragraph tag*/
p { line-height: 1.3; }

/* Styling the 2nd heading*/
h2 { font-size: 3 rem; text-align: center; h2 {font-size: 1. 25rem text-align: center;}}

/* style for parafraph*/
p { line-height: 1.3; }

/* style for heading*/
h2{
    font-size: 1.2rem; text-align: center; font-style: italic;
}

