/* A universal styling tag*/
* {
    box-sizing: border-box;
  }

  /* adding webkit for scroll and styling it*/
  ::-webkit-scrollbar{
    width: 8px;
  }
 
  /* adding webkit for scroll and styling it*/
  ::-webkit-scrollbar-track{
    box-shadow: inset 0 0 12px rgb(40, 40, 131);
    border-radius: 8px;
  }
  
  /* adding webkit for scroll and styling it*/
  ::-webkit-scrollbar-thumb{
    background: #fd13bb;
    border-radius: 6px;
  }

  /* adding webkit for scroll and styling it*/
  ::-webkit-scrollbar-thumb:hover{
    background: rgb(90, 255, 53);
  }
  
  /* Style the body tag */
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #000000;
  }
  
    /* Styling the navigation bar */
    .navbar {
      font-weight: bold;
      overflow: hidden;
      background-color: #000000;
      position: fixed;
      width: 100%;
    }
    
    /* Styling the navigation bar links */
    .navbar a {
      display: block;
      color: rgb(125, 213, 3);
      text-align: center;
      padding: 20px 20px;
      text-decoration: none;
    }
    
    /* styling the top right link of join us */
    .navbar a.right {
      float: right;
      padding: 14px 14px;
      display: block;
    }
    
    
    /*Changing the color on navbar hover effect */
    .navbar a:hover {
      background-color: #000000;
      color: #FDB813;
    }
    
    /* styling navbar ul*/
    .navbar ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

     /* styling navbar li */
    .navbar li {
      float: left;
    }

     /* styling navbar li a */
    .navbar li a {
      display: block;
      padding: 14px 16px;
    }

     /* styliong navbar class called right*/
     .navbar .right {
      float: right;
     }

      /* styling the logo in navbar*/
    .navbar .logo {
      float: left;
      padding: 8px;
    }

     /* styling navbar logo hover effect*/
    .navbar .logo:hover{
      background-color: #000000;
      cursor: not-allowed;
    }

     /* styling logo image in navbar*/
    .navbar .logo img{
      width: 25%;
      height: 25%;
    }

  /* styling the header-1 class mentioned in html */
  .header-1 {
    padding: 270px;
    text-align: left;
    background: #000000;
    color: #ff009d;
    background-image: url("./images/gaming-01.jpg"); max-width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  }
 
  /* styling the heading of class header-1 */
  .header-1 h1 {
    font-size: 60px;
  }

   /* styling the p tag od the class called header-1*/
  .header-1 p{
    font-size: xx-large;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px red;
    
  }

   /* styling the class mentiooned as header-2*/
  .header-2 {
    padding: 270px;
    text-align: left;
    background: #000000;
    color: #ff10d7;
    background-image: url("./images/final-2.jpg"); max-width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  }
  
  /* styling the heading of header-2 class*/
  .header-2 h1 {
    font-size: 60px;
  }

   /* styling the p tag of header-2 class*/
  .header-2 p{
    font-size: xx-large;
    color: rgb(250, 250, 250);
    text-shadow: 3px 3px red;
  }

   /* styling the button tag */
  button {
    background-color: rgb(66, 255, 28); 
    color: #fd13b7; 
    border-radius: 8px; 
    padding: 6px 32px;
    font-size: 50px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
  }

   /* styling the button hover effect */
  .button-1:hover, .button-1:hover{
    color: #24ff21;
    outline: 0;
  }
  
   /* styling the class mentioned as button-1*/
  .button-1 {
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  }

   /* styling the button-1 hover effect*/
  .button-1:hover {
    box-shadow: 0 0 40px 40px #000000 inset;
  }

   /* styling the class called header-3*/
  .header-3 {
    padding: 270px;
    text-align: left;
    background: #000000;
    color:#fd13b7;
    background-image: url("./images/final-3.jpg"); max-width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  }
  
  /* styling the heading of class called header-3 */
  .header-3 h1 {
    font-size: 60px;
  }

   /* styling the p tag in class header-3*/
  .header-3 p{
    font-size: xx-large;
    color: rgb(254, 254, 254);
    text-shadow: 3px 3px red;
  }

   /* styling the button class with hover effect*/
  .button-2:hover, .button-2:focus{
    color: #22ff00;
    outline: 0;
  }
  
   /* styling the button-2 class*/
  .button-2 {
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  }

   /* styling the button-2 class with hover effect*/
  .button-2:hover {
    box-shadow: 0 0 40px 40px #000000 inset;
  }

   /* styling the heading-4 class tag mentioned in html*/
  .header-4 {
    padding: 270px;
    text-align: left;
    background: #000000;
    color:#fd13b7;
    background-image: url("./images/final-4.jpg"); max-width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  }
  
  /* styling header-4 class tags heading */
  .header-4 h1 {
    font-size: 60px;
  }

   /* styling the p tag of class called header-4 */
  .header-4 p{
    font-size: xx-large;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px red;
    
  }

   /* styling button-3 class with hover effect*/
  .button-3:hover, .button-3:focus{
    color: #22ff00;
    outline: 0;
  }
  
   /* styling the class button-3*/
  .button-3 {
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  }

   /* styling button-3 class with hover effect*/
  .button-3:hover {
    box-shadow: 0 0 40px 40px #000000 inset;
  }
  
   /* styling the heading-5 class tag mentioned in html*/
  .header-5 {
    padding: 270px;
    text-align: left;
    background: #000000;
    color:#fd13b7;
    background: url("./images/final-5.jpg"); max-width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  }
  
  /*styling the heading of header-5 class */
  .header-5 h1 {
    font-size: 60px;
  }

   /* styling the p tag of class called header-5*/
  .header-5 p{
    font-size: xx-large;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px red; 
  }

   /* styling the class button-4 with hover effect*/
  .button-4:hover, .button-4:focus{
    color: #22ff00;
    outline: 0;
  }
  
   /* styling the class called button-4*/
  .button-4 {
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  }

   /* styling the class button-4 with hover effect*/
  .button-4:hover {
    box-shadow: 0 0 40px 40px #000000 inset;
  }


 /* styling the footer tag from html document*/
.footer {
  background-image: url("./images/footer-back.jpg"); max-height:100%; max-width: 100%;
  margin-top: 0px;
  width: 100%;
  padding: 85px 10%;
  background-color: rgb(21, 21, 21);
  color:#5dfd13;
  display: flex;
} 

 /* styling footer div container */
.footer div{
  text-align: center;
}

 /* styling class mentioned as one*/
.One {
  flex-grow: 10;
}

 /* styling class mentioned as two*/
.Two {
  flex-grow: 10;
}

 /* styling class mentioned as three*/
.Three {
  flex-grow: 10;
}

 /* styling the heading of div container*/
.footer div h2 {
  font-weight: 300;
  margin-bottom: 30px;
  letter-spacing: 0;
}

 /* styling the a of class one*/
.One a{
   display: block;
   text-decoration: none;
   color: rgb(255, 255, 255);
   margin-bottom: 10px;
   font-weight: bold;
}

 /* styling one a with hover effect*/
.One a:hover {
  color: red;
}

 /* styling the form in footer tag*/
form input{
  width: 400px;
  height: 45px;
  border-radius: 4px;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 41px;
  outline: none;
  border: 2px solid rgb(255, 51, 160);
}

 /* styling the button in form tag*/
form button{
  border: 2px solid #ff199b;
  color: #000000;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 15px;
  cursor: pointer ;
}

 /* hover effect for button tag*/
form button:hover, form button:focus{
  color:#fd13b7;
  outline: 0;
}

 /* adding webkit for button */
form button {
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

 /* adding hover effect for bitton tag*/
form button:hover {
  box-shadow: 0 0 40px 40px #000000 inset;
}

 /* styling icons*/
.icons{
  margin-top: 30px;
}

 /* styling icons*/
.icons i{
  font-size: 25px;
  margin: 12px;
  cursor: pointer;
  color: rgb(255, 41, 158);
}
