* {
    box-sizing: border-box;
  }

  ::-webkit-scrollbar{
    width: 8px;
  }

  ::-webkit-scrollbar-track{
    box-shadow: inset 0 0 12px rgb(40, 40, 131);
    border-radius: 8px;
  }

  ::-webkit-scrollbar-thumb{
    background: #FDB813;
    border-radius: 6px;
  }

  ::-webkit-scrollbar-thumb:hover{
    background: rgb(90, 255, 53);
  }
  
  /* Style the body */
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #000000;
  }
  
    /* Style the top navigation bar */
    .navbar {
      font-weight: bold;
      overflow: hidden;
      background-color: #000000;
      position: fixed;
      width: 100%;
    }
    
    /* Style the navigation bar links */
    .navbar a {
      display: block;
      color: rgb(125, 213, 3);
      text-align: center;
      padding: 20px 20px;
      text-decoration: none;
    }
    
    /* Right-aligned link */
    .navbar a.right {
      float: right;
      padding: 14px 14px;
      display: block;
    }
    
    
    /* Change color on hover */
    .navbar a:hover {
      background-color: #000000;
      color: #FDB813;
    }
    
    .navbar ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    .navbar li {
      float: left;
    }

    .navbar li a {
      display: block;
      padding: 14px 16px;
    }
     .navbar .right {
      float: right;
     }

    .navbar .logo {
      float: left;
      padding: 8px;
    }

    .navbar .logo:hover{
      background-color: #000000;
      cursor: not-allowed;
      
    }

    .navbar .logo img{
      width: 25%;
      height: 25%;
    }



  /* Header/logo Title */
  .header-1 {
    padding: 270px;
    text-align: left;
    background: #000000;
    color: #FDB813;
    background-image: url("./images/gaming-01.jpg"); max-width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  }
  
  /* Increase the font size of the heading */
  .header-1 h1 {
    font-size: 60px;
  }

  .header-1 p{
    font-size: xx-large;
    color: rgb(255, 255, 255);
    
  }

  .header-2 {
    padding: 270px;
    text-align: left;
    background: #000000;
    color: #FDB813;
    background-image: url("./images/final-2.jpg"); max-width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  }
  
  /* Increase the font size of the heading */
  .header-2 h1 {
    font-size: 60px;
  }

  .header-2 p{
    font-size: xx-large;
    color: rgb(255, 255, 255);
    
  }
  button {
    background-color: transparent; 
    color: #FDB813; 
    border-radius: 8px; 
    padding: 6px 32px;
    font-size: 50px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
  }

  .button-1:hover, .button-1:hover{
    color: #fff;
    outline: 0;

  }
  
  .button-1 {
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  }
  .button-1:hover {
    box-shadow: 0 0 40px 40px #fbe032 inset;
  }

  .header-3 {
    padding: 270px;
    text-align: left;
    background: #000000;
    color: #FDB813;
    background-image: url("./images/final-3.jpg"); max-width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  }
  
  /* Increase the font size of the heading */
  .header-3 h1 {
    font-size: 60px;
  }

  .header-3 p{
    font-size: xx-large;
    color: rgb(255, 255, 255);
    
  }

  .button-2:hover, .button-2:focus{
    color: #22ff00;
    outline: 0;

  }
  
  .button-2 {
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  }
  .button-2:hover {
    box-shadow: 0 0 40px 40px #000000 inset;
  }


  .header-4 {
    padding: 270px;
    text-align: left;
    background: #000000;
    color: #FDB813;
    background-image: url("./images/final-4.jpg"); max-width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  }
  
  /* Increase the font size of the heading */
  .header-4 h1 {
    font-size: 60px;
  }

  .header-4 p{
    font-size: xx-large;
    color: rgb(255, 255, 255);
    
  }

  .button-3:hover, .button-3:focus{
    color: #22ff00;
    outline: 0;

  }
  
  .button-3 {
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  }
  .button-3:hover {
    box-shadow: 0 0 40px 40px #000000 inset;
  }


  .header-5 {
    padding: 270px;
    text-align: left;
    background: #000000;
    color: #FDB813;
    background: url("./images/final-5.jpg"); max-width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  }
  
  /* Increase the font size of the heading */
  .header-5 h1 {
    font-size: 60px;
  }

  .header-5 p{
    font-size: xx-large;
    color: rgb(255, 255, 255);
    
  }

  .button-4:hover, .button-4:focus{
    color: #22ff00;
    outline: 0;

  }
  
  .button-4 {
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  }
  .button-4:hover {
    box-shadow: 0 0 40px 40px #000000 inset;
  }



.footer {
  background-image: url("./images/footer-back.jpg"); max-height:100%; max-width: 100%;
  margin-top: 0px;
  width: 100%;
  padding: 85px 10%;
  background-color: rgb(21, 21, 21);
  color: #fff12a;
  display: flex;
  
} 

.footer div{
  text-align: center;
}

.first {
  flex-grow: 10;
  
}

.second {
  flex-grow: 10;
}

.third {
  flex-grow: 10;
}

.footer div h2 {
  font-weight: 300;
  margin-bottom: 30px;
  letter-spacing: 0;
}

.first a{
   display: block;
   text-decoration: none;
   color: rgb(255, 255, 255);
   margin-bottom: 10px;

}

.first a:hover {
  color: red;
}

form input{
  width: 400px;
  height: 45px;
  border-radius: 4px;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 41px;
  outline: none;
  border: none;
}

form button{
  border: 2px solid #fff;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 15px;
  cursor: pointer ;
}
form button:hover, form button:focus{
  color: #22ff00;
  outline: 0;

}

form button {
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
form button:hover {
  box-shadow: 0 0 40px 40px #000000 inset;
}

.icons{
  margin-top: 30px;

}
.icons i{
  font-size: 25px;
  margin: 12px;
  cursor: pointer;
  color: rgb(255, 49, 49);
}
